@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

.container {
  padding: 50px;
  margin: 300px auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.text {
  color: #5383d3;
  font-family: "Niconne";
  font-weight: bolder;
  font-size: 48px;
}
