.form {
    background-color: lightgray;
    opacity: 0.9;
    width: 900px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    color: black;
    border: 2px lightgray;
    border-radius: 8px ;
    
}